@import "tailwindcss";

@theme{
    
    --font-plus : Plus Jakarta Sans , sans-serif;
    --color-primary: #1A7E57;
    --color-secondary: #9DC41D;
    --shadow-gradientBtn: 0 8px 32px 0 rgba(99, 197, 51, 0.36);
    --shadow-btn: 0 8px 32px 0 rgba(106, 156, 135, 0.25);
    --shadow-header: 0px 4px 32px 0px rgba(156, 174, 186, 0.18);
    --shadow-card: 0 16px 40px 0 rgba(1, 0, 54, 0.09);
    --shadow-badge: 0 8px 32px rgba(99, 197, 51, 0.36);
    --shadow-navbar: 0px 6px 12px 0px rgba(156, 174, 186, 0.06);
    --shadow-stepcard: 0px 6px 16px 0px rgba(55, 106, 139, 0.04);
    --shadow-blog: 0px 8px 20px 0px rgba(55, 106, 139, 0.06);
    --shadow-connect : 0px 16px 60px 0px rgba(255, 100, 165, 0.08);
    --shadow-input : 0 10px 40px 0 rgba(110, 196, 162, 0.10);
    --shadow-sidebar: 0px 8px 20px 0px rgba(55, 106, 139, 0.04);
    --shadow-social-link : 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    --shadow-whatsapp : 0px 10px 32px 0px rgba(37, 211, 102, 0.25);
    --shadow-title: 0px 6px 12px 0px rgba(156, 174, 186, 0.14);
    --shadow-country: 0px 6px 20px 0px rgba(55, 106, 139, 0.06);
    --shadow-paper: 0px 24px 60px 0px rgba(8, 80, 135, 0.12);
    --shadow-choose: 4px 4px 32px 0px rgba(156, 174, 186, 0.12);
    --shadow-faq : 0px 6px 12px 0px rgba(186, 186, 186, 0.10);
    --drop-shadow-icon: 2px 2px 2px rgba(0,0,0,0.25);
    --drop-shadow-stepvector: 0px 4px 16px rgba(211, 138, 169, 0.16);
    --drop-shadow-map-client: 0px 16px 40px rgba(124, 132, 139, 0.24);
    --drop-shadow-quote: 0px 8px 32px rgba(255,22,107,0.25);
    --drop-shadow-foodbank :2.571px 4.286px 12.857px rgba(230, 59, 95, 0.40);
    --drop-shadow-foodscan :2.143px 2.143px 8.572px rgba(50, 121, 255, 0.40); 
    --drop-shadow-foodappi :2.143px 2.143px 8.571px rgba(0, 138, 127, 0.40); 
    --drop-shadow-shopking :2.143px 2.143px 8.571px rgba(245, 81, 20, 0.40); 
    --drop-shadow-shopperzz :2.143px 2.143px 8.571px rgba(255, 101, 1, 0.40); 
    --drop-shadow-storeking :2.4px 2.4px 9.001px rgba(0, 199, 30, 0.25); 
    --drop-shadow-process : 0px 4px 16px rgba(211, 138, 169, 0.16);
}

@layer base{
    html {@apply scroll-smooth sm:overflow-x-auto overflow-x-hidden}
    body {@apply font-plus text-[#323D4E] !scroll-smooth sm:overflow-x-visible overflow-x-hidden selection:bg-primary}
    button {@apply cursor-pointer}
    .blur-rect {@apply absolute -z-10 top-0 left-1/2 -translate-x-1/2 w-[580px] h-[75px] rotate-[35deg] blur-[300px] bg-[#95FFD6]}
    .button {@apply h-13 px-6 sm:px-8 shadow-btn hover:bg-gradient-to-l hover:from-secondary hover:to-primary border hover:border-current border-secondary rounded-full text-secondary whitespace-nowrap hover:text-white text-base font-bold hover:shadow-gradientBtn transition-all duration-300}
    .blogNavigation {@apply flex flex-col lg:flex-row items-start lg:items-center origin-top transition-all duration-300 max-lg:absolute max-lg:top-12 max-lg:left-0 max-lg:z-10 max-lg:p-2 max-lg:w-full max-lg:shadow-paper max-lg:rounded-xl max-lg:bg-white}
    .blogNavigation button.active {@apply bg-primary text-white shadow-gradientBtn !font-bold}

    .card {@apply bg-[#F6F9FC] rounded-2xl p-6 hover:shadow-card hover:bg-white transition-all duration-300 relative h-full}
    .check-icon {@apply  text-2xl bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent}

    .custom-switcher input {@apply relative flex-shrink-0 w-[60px] h-8 cursor-pointer before:inline-block before:absolute before:inset-0 before:w-full before:h-full before:rounded-3xl before:bg-primary before:transition-all before:duration-300 after:absolute after:top-1/2 after:left-[72%] after:-translate-y-1/2 after:-translate-x-1/2 after:w-7 after:h-7 after:rounded-full after:bg-gradient-to-b after:from-white after:to-white/70 after:transition-all after:duration-300}
    .custom-switcher input:checked {@apply after:left-[28%]}

    .content.active {@apply text-primary}

    #card-1 { @apply basis-[450px] grow xl:grow-0} 
    #card-2 { @apply basis-[652px] grow xl:grow-0}   
    #card-3 { @apply basis-[601px] grow xl:grow-0}  
    #card-4 { @apply basis-[501px] grow xl:grow-0} 

    #choice-1 { @apply basis-[320px] grow xl:grow-0}
    #choice-2 {@apply basis-[413px] grow xl:grow-0}
    #choice-3 {@apply basis-[345px] grow xl:grow-0}
    #choice-4 {@apply basis-[406px] grow xl:grow-0}
    #choice-5 {@apply basis-[349px] grow xl:grow-0}
    #choice-6 {@apply basis-[323px] grow xl:grow-0}

    .drawer{@apply fixed top-0 left-1/2 max-w-[95%] h-auto max-h-[calc(100%-150px)] w-full mx-auto bg-white px-4 py-6 
            transform -translate-y-full -translate-x-1/2 transition-all duration-300 z-50 shadow-sidebar rounded-2xl}
    .drawer.active {@apply top-16 transform -translate-y-0}
    .dropdown-group .dropdown-btn i {@apply rotate-0 transition-all duration-300}
    .dropdown-group.active .dropdown-btn i {@apply rotate-180 transition-all duration-300}
    .dropdown-group .dropdown-content {@apply hidden}
    .dropdown-group.active .dropdown-content {@apply flex}
    .dropdown-sidebar {@apply transition-all duration-300 origin-top w-full absolute md:sticky top-12 md:top-32 p-4 z-20 rounded-2xl bg-white shadow-faq}

    #demo-card-1 { @apply basis-[298px] grow xl:grow-0} 
    #demo-card-2 { @apply basis-[390px] grow xl:grow-0}   
    #demo-card-3 { @apply basis-[390px] grow xl:grow-0} 
    .feature-card { @apply rounded-2xl border border-[#C9E6DB] bg-white}

    .gradient-text { @apply bg-linear-to-l text-transparent bg-clip-text from-secondary to-primary}
    .heading {@apply text-3xl lg:text-[42px] font-bold text-center leading-tight}
    .hover-button { @apply !px-6 w-fit group-hover:border-none group-hover:bg-gradient-to-l group-hover:from-secondary group-hover:to-primary group-hover:text-white group-hover:shadow-gradientBtn}
    
    .installation-plan {@apply p-4 rounded-3xl border border-[#E7EAEF] hover:border-secondary bg-white hover:bg-linear-180 hover:from-[#F0FFF9] hover:to-[#FFF]}
    .installation-plan.active {@apply !border-secondary bg-linear-180 from-[#F0FFF9] to-[#FFF]}
    .installation-plan.active > button {@apply !text-white !border-none !shadow-gradientBtn !bg-clip-padding !bg-gradient-to-l from-secondary to-primary cursor-pointer}
    input::placeholder{@apply text-base font-normal text-[#7F8B9D]}
    
    .modal {@apply bg-black/60 backdrop-blur-sm w-full h-screen inset-0 fixed flex justify-center items-center z-30 opacity-0 invisible transition-all duration-300}
    .modal.active {@apply opacity-100 visible}
    .modal-content{@apply relative bg-white max-w-[560px] w-full p-6 rounded-2xl aspect-video scale-y-0 -translate-y-full transition-all duration-500}
    .modal.active .modal-content {@apply scale-y-100 translate-y-0}
    
    .navbtn {@apply w-fit text-base lg:text-lg font-semibold leading-5 lg:leading-6 rounded-full px-4 py-3 flex items-center whitespace-nowrap flex-shrink-0 gap-2}
    .navbtn.active{@apply !bg-primary !text-white}
    .navbtn:hover{@apply bg-linear-90 from-[#C8F9E5] to-white !text-black transition-all duration-300}
    .navgradientBg {@apply w-full h-12 absolute left-0 right-0 top-1/2 -translate-y-1/2 -z-10 bg-linear-270 from-[#FFC7A0] from-0% via-[#9BBEFF] via-50% to-[#FFA797] to-100% blur-[30px]}

    .title {@apply text-base font-medium py-2.5 px-4 border border-[#E0E6F8] rounded-full mb-6 text-primary}
    .pricePlan {@apply border border-[#E7EAEF] hover:border-secondary bg-white hover:bg-linear-180 hover:from-[#FFF6F5] hover:to-[#FFF]}
    .pricePlan.active {@apply !border-secondary bg-linear-180 from-[#FFF6F5] to-[#FFF]}
    .pricePlan.active > button {@apply !text-white !border-none !shadow-gradientBtn !bg-clip-padding !bg-gradient-to-b from-secondary to-primary cursor-pointer}
    .primary-button { @apply h-13 px-6 sm:px-8 bg-gradient-to-l from-secondary to-primary rounded-full text-white text-base whitespace-nowrap font-bold shadow-gradientBtn active:shadow-none transition-all duration-300 hover:from-primary hover:to-secondary}
    
    [id^="review-card-"]:nth-child(7n+1) {@apply bg-[#FFFBF4] basis-[359px] grow xl:grow-0}
    [id^="review-card-"]:nth-child(7n+2) {@apply bg-[#F5F9FF] basis-[359px] grow xl:grow-0}
    [id^="review-card-"]:nth-child(7n+3) {@apply bg-[#FFFCF2] basis-[359px] grow xl:grow-0}
    [id^="review-card-"]:nth-child(7n+4) {@apply bg-[#F6FFF7] basis-[359px] grow xl:grow-0}
    [id^="review-card-"]:nth-child(7n+5) {@apply bg-[#FFF8F4] basis-[743px] grow xl:grow-0}
    [id^="review-card-"]:nth-child(7n+6) {@apply bg-[#F2FDFF] basis-[551px] grow xl:grow-0}
    [id^="review-card-"]:nth-child(7n+7) {@apply bg-[#FBFFF3] basis-[551px] grow xl:grow-0}

    .sticky-header { @apply backdrop-blur-[100px] shadow-header bg-white/90 }

    .title {@apply text-sm sm:text-base font-medium text-primary px-4 py-2.5 leading-tight rounded-full w-fit mx-auto border border-[#E0E6F8]}
    .thin-scrolling { @apply overflow-y-auto transition-all duration-500 }
    .thin-scrolling:hover::-webkit-scrollbar-thumb { @apply bg-primary }
    .thin-scrolling::-webkit-scrollbar { @apply w-[3px] }
    .thin-scrolling::-webkit-scrollbar { @apply rounded-2xl bg-transparent }
    .tabBtn {@apply p-4 w-full text-start rounded-xl text-lg font-bold hover:bg-[#E9FFF4] flex justify-between items-center}
    .tabBtn.active{@apply bg-[#E9FFF4]}
    .tab-content {@apply scroll-mt-20 md:scroll-mt-45 lg:scroll-mt-60}

    .vertical-dropdown-group .vertical-dropdown-content {@apply hidden}
    .vertical-dropdown-group.active .vertical-dropdown-content { @apply flex}
    .vector-bg-1{@apply bg-linear-180 from-[#C1B9FF] to-[#6A57FF] shadow-[0px_8px_8px_rgba(117,99,255,0.25)]}
    .vector-bg-2{@apply bg-linear-180 from-[#FFB1D2] to-[#EE2277] shadow-[0px_8px_8px_rgba(215,34,142,0.25)]}
    .vector-bg-3{@apply bg-linear-180 from-[#FFC4AD] to-[#F86226] shadow-[0px_8px_8px_rgba(248,98,38,0.25)]}
    .vector-bg-4{@apply bg-linear-180 from-[#DEAFFF] to-[#A62FFC] shadow-[0px_8px_8px_rgba(117,99,255,0.25)]}
    .vector-bg-5{@apply bg-linear-180 from-[#A0D3FD] to-[#1889E4] shadow-[0px_8px_8px_rgba(24,137,228,0.25)]}
    .vector-bg-6{@apply bg-linear-180 from-[#99E377] to-[#40A214] shadow-[0px_8px_8px_rgba(64,162,20,0.25)]}
    .vector-bg-7{@apply bg-linear-180 from-[#A1ABF2] to-[#3F55E8] shadow-[0px_8px_8px_rgba(63,85,232,0.25)]}
    .vector-bg-8{@apply bg-linear-180 from-[#FFC79D] to-[#F4781D] shadow-[0px_8px_8px_rgba(244,120,29,0.25)]}
    .vector-bg-9{@apply bg-linear-180 from-[#F3A4D3] to-[#D7228E] shadow-[0px_8px_8px_rgba(215,34,142,0.25)]}
    .vertical-dropdown-group .vertical-dropdown-content {@apply hidden}
    .vertical-dropdown-group.active .vertical-dropdown-content { @apply flex}

    .whatsapp-button {@apply h-13 px-6 sm:px-8 bg-gradient-to-l rounded-full text-white text-base whitespace-nowrap font-bold active:shadow-none bg-linear-270 from-[#2AE971] to-[#00B142] shadow-whatsapp transition-all duration-300 cursor-pointer}

    .doc-info-div {@apply w-full p-4 rounded-md border border-[#bee5eb] bg-[#d1ecf1] mb-4 text-[#0c5460] flex gap-2 items-center}
    .doc-badge-red {@apply bg-[#dc3545] text-white uppercase px-1 py-0.5 rounded-sm text-xs font-bold}
    .doc-warn-div {@apply w-full p-4 rounded-xl border border-[#ffeeba] bg-[#fff3cd] mb-4 text-[#856404]}
    .doc-danger-div {@apply w-full p-4 rounded-xl border border-[#f8d7da] bg-[#f5c6cb] mb-8 text-[#721c24]}
}
@layer utilities{
    .container{@apply max-w-[1158px] w-full mx-auto px-4}
    .bg-custom-gradient {
          background: linear-gradient(95deg, #FFFBF4 0%, #EFFFEF 36.81%, #F4FBFF 72.5%, #FAFFDE 100%);
      }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
        scroll-behavior: smooth;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
}